

.login{
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 200px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 50px 30px ;


  .login-form-button{
    margin-top: 20px;
  }

}

.login-form{

}
